{% extends 'AppBlog/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Add Category</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Create Category</button>
            </form>
    {% else %}
    You must be logged in to create a post
    <br/>
    <small><a class="btn btn-primary btn-sm" href="{% url 'login' %}">Log in</a></small>
    <small><a class="btn btn-primary btn-sm" href="{% url 'register' %}">Register</a></small></br>
    {% endif %}
{% endblock %}