{% extends 'AppBlog/base.html' %}

{% block title %}
Category List
{% endblock %}

{% block heading %}
Categories
{% endblock %}

{% block subheading %}
See all categories
{% endblock %}

{% block content %}
    <h1>Categories</h1>
    <ul>
        {% for Category in object_list %}
        <li>
            <small>{{ Category.category_name }}</small>
        </li>
        {% empty %}
            <a>There are no Categories yet</a>
        {% endfor %}
    </ul>
    
<a class="btn btn-primary btn-sm" href= "{% url 'add_category' %}">Add Category</a></li>
{% endblock %}  