{% extends 'AppBlog/base.html' %}

{% block title %}
{{ post.title}}
{% endblock %}

{% block heading %}
{{ post.title }}
{% endblock %}

{% block subheading %}
{{ post.subtitle }}
{% endblock %}

{% block content %}
    <small> By: {{ post.author }} - {{ post.post_date }} 
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %} - 
                <small><a class="btn btn-outline-secondary btn-sm" href="{% url 'edit_post' post.pk %}">Edit</a></small>
                <small><a class="btn btn-outline-danger btn-sm" href="{% url 'delete_post' post.pk %}">Delete</a></small></br>
            {% endif %}
        {% endif %}
    </small>
    </br>
    <div class="col-md-10 col-lg-8 col-xl-7">
        {{ post.body }}
        <br/>
        {% if post.post_image %}
            <img class='img-fluid' src="{{ post.post_image.url }}"></img>
        {% endif %}
        <br/>
    </div>
    <hr></hr>
    <h2>Comments</h2>

    {% if not post.comments.all %}
        No comments yet
    {% else %}
        {%for comment in post.comments.all %}
        {{ comment.body }}
        <br>
        <small>{{ comment.name }} - {{ comment.date_added }}</small>
        <br><br>
        {% empty %}
        There are no comments yet
        {% endfor %}
        <br>
    {% endif %}
    {% if user.is_authenticated %}
    <br>
    Add a comment:
    <a class="btn btn-primary btn-sm" href="{% url 'add_comment' post.pk %}">Comment</a>
    {% endif %}

{% endblock %}



