{% extends 'registration/base.html' %}

{% block heading %}
Edit Profile
{% endblock %}

{% block subheading %}
Edit your Name, bio or profile picture
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Update Profile</button>
    </form>
    {% else %}
    You must be logged in to edit profile
    <br/>
    <small><a class="btn btn-primary btn-sm" href="{% url 'login' %}">Log in</a></small>
    {% endif %}
{% endblock %}