{% extends 'registration/base.html' %}

{% block heading %}
{{ user.username }}'s profile
{% endblock %}

{% block subheading %}
{{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}
    {% if user.profile.profile_pic %}
        <br/>
        <img class='img-fluid' src="{{ user.profile.profile_pic.url }}"></img>
        <br/>
    {% endif %}
    <h1>
        {{ user.username }}
    </h1>
    
    {% if user.first_name %}
    First name: {{ user.first_name }}
    <br/> 
    Last name: {{ user.last_name }}
    {% else %}
    No first name has been added
    {% endif %}
    {% if user.profile.bio %} 
    <br/>
    Bio: {{ user.profile.bio }}
    <br/>
    {% else %}
    No bio has been added
    {% endif %}
{% endblock %} 

