{% extends 'index.html' %}

{% block content %}
    <h2>Search Post</h2>
    <form method="get" action="{% url 'search_post' %}">
        {{ search_form.as_p }}
        <button class="btn btn-primary btn-sm" type="submit">Search</button>
    </form>
    </br></br>
    {% if results %}
        <h3>Posts:</h3>
        <ul>
        {% for Post in results %}
            <li><a href= "{% url 'post_detail' Post.pk %}">{{ Post.title }} </a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No matching Posts have been found</p>
    {% endif %}
{% endblock %}